.navbar-search {
	padding-left: 10px;
}

.padded-top {
	padding-top: 100px;
}

.fixed-width {
	width: 500px;
}

h3 {
	text-align: center;
}

min-padding {
	margin-left: 0px;
}

img {
	margin-right: 20px;
}

.fixed-box {
	padding: 10px 10px 30px 10px;
}

.fixed-panel {
	width: 320px;
	padding: 10px 10px;
}
