<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>bottomnavbar</title>
	<link href="../../static/theme1.css" rel="stylesheet" media="screen">
	<link href="../../static/css/kim.css" rel="stylesheet" media="screen">

</head>

<body>

	<!-- Bottom navbar -->
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav pull-right">
					<li class=''><a href="#">Contact us</a></li>
					<li class=''><a href="#">Careers</a></li>
					<li class=''><a href="#">Help center</a></li>
					<li class=''><a href="#">&copy; 2010-2012 HackGen. All rights reserved.</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>