<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>iconbox</title>
	<link href="../../static/theme1.css" rel="stylesheet" media="screen">
	<link href="../../static/css/kim.css" rel="stylesheet" media="screen">
	
</head>

<body>

	<!-- Box with left icon, title, and text -->
	<div class="span6 well fixed-box">
		<div>
			<img src="../../styles/img/IMG_0049.JPG" class="img-rounded span2 thumbnail">
			<h3>Explore</h3>
			<div>
				Whoah this product is so cool. I wish I could buy this right now.
				HackGen gives out free Google pens, too.
			</div>
		</div>
	</div>

</body>
</html>
