<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>sidenav</title>
	<link href="../../static/theme1.css" rel="stylesheet" media="screen">
	<link href="../../styles/css/kim.css" rel="stylesheet" media="screen">
	
</head>

<body>

	<!-- Side nav tabs -->
	<div class='span2'>
		<ul class="nav nav-stacked nav-pills">
			<!-- swap between nav-pills, nav-list -->
			<li class='nav-header'>Header</li>
			<li class='active'><a href="#">Link1</a></li>
			<li class='brand'><a href="#">Link2</a></li>
			<li class=''><a href="#">Link3</a></li>
			<li class=''><a href="#">Link4</a></li>
			<li class=''><a href="#">Link5</a></li>
			<li class=''><a href="#">Link6</a></li>
			<li class=''><a href="#">Link7</a></li>
			<li>
				<input type="text" class="input-small" placeholder="Search">
			</li>
		</ul>
	</div>

</body>
</html>
