<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>iconbox</title>
	
</head>

<body>

<!-- START SOCIAL MEDIA WIDGET -->
<ul id="socialbar">
	<li id="facebook"><a target="_blank" href="http://www.facebook.com/kmerrill27"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/facebook.png"></a></li>
	<li id="twitter"><a target="_blank" href="http://twitter.com/arussell300"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/twitter.png"></a></li>
	<li id="Googleplus"><a target="_blank" href="https://plus.google.com/u/0/b/110583596154821436516/110583596154821436516/posts"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/Googleplus.png"></a></li>
	<li id="linkedin"><a target="_blank" href="http://www.linkedin.com/kmerrill27"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/linkedin.png"></a></li>
	<li id="Reddit"><a target="_blank" href="http://reddit.com/user/euclio"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/Reddit.png"></a></li>
	<li id="stumbleupon"><a target="_blank" href="http://stumbleupon.com/Euclio"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/stumbleupon.png"></a></li>
</ul>
<style>#socialbar img {border:0px;}#socialbar li img {width:40px; height:40px;}#socialbar li a:hover {position:relative;top:2px;}#socialbar{padding:0px;list-style: none outside none; margin:0px; position: static;}#socialbar li {display:inline;padding-right:2px;}#socialbar{width:300px;text-align:center;}</style>
<!-- END SOCIAL MEDIA WIDGET -->

</body>
</html>
