<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>widepanel</title>
	<link href="../../static/theme1.css" rel="stylesheet" media="screen">
	<link href="../../styles/css/kim.css" rel="stylesheet" media="screen">
	
</head>

<body>

	<div>
		<div class="pull-left fixed-panel">
			<i class="icon-search"></i>
			<h4>Our story</h4>
			<p>Read about out missions, meet our team, and find out
				why learning will never be the same. Read about out missions,
				meet our team, and find out why learning will never be the same.</p>
		</div>
		<div class="pull-left fixed-panel">
			<h4>Get started</h4>
			<p>See how Pearson products now feature Knewton real-time recommendations.
				See how Pearson products now feature Knewton real-time recommendations.</p>
		</div>
		<div class="pull-left fixed-panel">
			<h4>Leverage our product</h4>
			<p>Develop learning solutions that adapt to student needs in any subject area.
			   Develop learning solutions that adapt to student needs in any subject area.</p>
		</div>
	</div>

</body>
</html>
