<div id="this-carousel-id" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/penguin.jpg" alt="" style="width:100%;height:100%" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="../static/img/mice.jpg" alt="" style="width:100%;height:100%"/>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="../static/img/cat.jpg" alt="" style="width:100%;height:100%" />
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>
