<!DOCTYPE html PUBLIC>
    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ vals.name }}</title>
    <link href="{{ url_for('static', filename=vals.theme) }}" type="text/css" rel="stylesheet" media="screen">
</head>
<body>
    {# -- Navbar -- #}
    {% if vals.navTop %}
    {% include "navbar-top.html"%}
    {% else %}
    {% include "navbar-side.html" %}
    {% endif %}

    {# -- Bottom Navbar -- #}
    {% include "navbar-bottom.html" %}

</body>
</html>
