<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ vals.name }}</title>
    <link href="{{ url_for('static', filename=vals.theme) }}" type="text/css" rel="stylesheet" media="screen">
	<link href="../../static/css/kim.css" rel="stylesheet" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <style media="screen" type="text/css">
        body {
            background-image: url('../static/img/background.gif');
            background-repeat: repeat;
        }
    </style>
</head>
<body>
    {# -- Navbar -- #}
    {% include "navbar-top.html"%}
    
    <div class="container" style="padding-top: 75px; vertical-align: middle; border-bottom: 1px solid #DDD; padding-bottom: 50px;">
        {% include "blurb.html" %}
    </div>
    
    <div style="width:800; height:500; margin-top:5%; margin-left:auto; margin-right:auto">
        {% include 'carousel.html' %}
    </div>

    {# Content #}
    <div class="container" style="padding-top: 50px; padding-bottom: 80px">
        {% include "features.html" %}
    </div>

    <div class="continer" style="padding-bottom: 50px; padding-top: 50px">
        {% include "featurette.html" %}
    </div>

    {# -- Bottom Navbar -- #}
    {% include "navbar-bottom.html" %}

    <script>
        $(document).ready(function() {
            $('.carousel').carousel({
                interval:10000
            });
        });
    </script>

</body>
</html>
