<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">{{ vals.name }}</a>
            <ul class="nav pull-left">
                {% for leftButton in vals.leftButtons %}
                    <li class=""><a href="#">{{ leftButton }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav pull-right">
                {% for rightButton in vals.rightButtons %}
                    <li class=''><a href="#">{{ rightButton }}</a></li>
                {% endfor %}

                {% if vals.searchBar %}
                    <li>
                        <form class="navbar-search">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
